<div class="container-fluid homeContainer">
  <div *ngIf="isLoading" class="spinnerDiv">
    <mat-spinner></mat-spinner>
  </div>
  <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <img src="assets/img/close.svg" class="d-block w-25 m-auto" alt="Image not available..">
    </div>
    <div class="carousel-item">
      <img src="assets/img/lock.svg" class="d-block w-25 m-auto" alt="Image not available..">
    </div>
    <div class="carousel-item">
      <img src="assets/img/edit.svg" class="d-block w-25 m-auto" alt="Image not available..">
    </div>
  </div>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>

<div class="row product-container g-4">
  @for (product of productList; track $index) {
    <div class="col-3">
      <mat-card class="product-card" appearance="outlined">
        <mat-card-header class="header-class">
          <mat-card-title>{{ product.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="product.imageUrl" alt="{{ product.name }}" class="product-image">
        <mat-card-content>
          <!-- <p>{{ product.description }}</p><br /> -->
          <p class="text-center">{{ product.price | currency: 'INR' }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  }
</div>
</div>
