<div class="container-fluid homeContainer">
  <div *ngIf="isLoading" class="spinnerDiv">
    <mat-spinner></mat-spinner>
  </div>
  <div id="carouselProductIndicators" class="carousel carousel-dark slide divPadding" data-bs-ride="carousel" data-bs-wrap="true">

  <div class="carousel-inner">

    @for (productGroup of groupedProductsList; track $index) {
      <div
        class="carousel-item"
        [class.active]="$index === 0"
      >
      @if (productGroup.length) {
        <div class="d-flex justify-content-center gap-3">
          @for (product of productGroup; track $index) {
            @if (product) {
              <img mat-card-image [src]="product.imageUrl" alt="{{ product.name }}" class="product-image openSansSemiBold">
            }
          }
        </div>
      }
      </div>
    }
  </div>
  <div class="carousel-indicators">
    @for (group of groupedProductsList; track $index) {
      <button type="button"
              data-bs-target="#carouselProductIndicators"
              [attr.data-bs-slide-to]="$index"
              [class.active]="$index === 0"
              [attr.aria-label]="'Slide ' + ($index + 1)">
      </button>
    }
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselProductIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselProductIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>

<div class="row product-container g-4 divPadding">
  @for (product of productList; track $index) {
    <div class="col-3">
      <mat-card class="product-card" appearance="outlined">
        <mat-card-header class="header-class">
          <mat-card-title (click)="showProductDetails(product)">{{ product.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="product.imageUrl" alt="{{ product.name }}" (click)="showProductDetails(product)" class="product-image openSansSemiBold">
        <mat-card-content>
          <!-- <p>{{ product.description }}</p><br /> -->
          <p class="text-center">{{ product.price | currency: 'INR' }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  }
</div>
</div>
