.homeContainer {
  margin-top: 5rem;
}

.alignImages {
  display: flex;
  justify-content: center;
}

.carouselImgDiv {
  display: contents;
}

.product-container {
  /* justify-content: space-evenly; */
}

.product-card {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.header-class {
  justify-content: center;
  padding: 1rem;
}
