.activeClass {
  background: #56585c;
  border-radius: 3px;
  color: white;
  margin: 0px 0.2rem;
}

.activeClass:hover {
  background: #56585c;
  color: white;
  margin: 0px 0.2rem;
}

.navbarClass a {
  margin: 0px 0.2rem;
  border-radius: 3px;
}

.navbarClass a:hover {
  background: #56585c;
  color: white;
  margin: 0px 0.2rem;
}

#mydiv {
  border-radius: 4px;
  background-color: white;
  margin-right: 0.2rem;
  margin-top: 4.2rem;
  width: 20rem;
}

.closeBtn {
  display: contents;
}

.closeImg {
  display: inline;
  float: right;
}

.popover-arrow-wrapper {
  position: inherit;
  width: 0;
  height: 0;
}

/* .popover-arrow-wrapper::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 11.5rem;
  z-index: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid black;
} */

.popover-arrow {
  position: inherit;
  z-index: 1;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  margin-top: -23px;
  margin-left: 16.3rem;
}

.logoutBtn {
  cursor: pointer;
}

.followImg {
  width: 1.5rem;
  margin: 0.3rem;
  cursor: pointer;
}

.footerClass {
  padding: 1rem 6rem;
  border-bottom: 1px solid white;
}

.no-notifications {
  font-size: smaller;
}

.notifications-section {
}

.notification-title {
}

.notification-item {
  display: flex;
  justify-content: space-between;
  background: chartreuse;
  padding: 1px 2px;
  font-size: smaller;
  margin: 5px 0px;
  border: 1px solid slategray;
}

.closeMsg {
  width: 18px;
  margin-left: 5px;
}

.truncate-text {
  display: inline-block;
  max-width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
