<div class="headerDiv">
  <h3 [ngClass]="{'product-list-title': !isEditMode}" class="openSansMedium">{{ ( isEditMode ? "updateAddress" : "addAddress") | translate }}</h3>
  <img src="assets/img/close.svg" alt="close" (click)="closeDialog()" class="close-icon">
</div>
<form [formGroup]="addressForm" class="addressForm row" (ngSubmit)="onSubmit()">
  <div class="mb-3 col-12">
    <label for="addressLine1" class="form-label openSansRegular">{{ "addressLine1" | translate }}</label>
    <input type="text" class="form-control" autocomplete="off" id="addressLine1" formControlName="addressLine1">
    @if (addressForm.get('addressLine1')?.invalid && addressForm.get('addressLine1')?.touched) {
      <div class="form-text errorMsg">
          {{ "addressLine1IsRequired" | translate }}
      </div>
    }
  </div>

  <div class="mb-3 col-12">
    <label for="addressLine2" class="form-label openSansRegular">{{ "addressLine2" | translate }}</label>
    <input type="text" class="form-control" autocomplete="off" id="addressLine2" formControlName="addressLine2">
  </div>

  <div class="mb-3 col-6">
    <label for="city" class="form-label openSansRegular">{{ "city" | translate }}</label>
    <input type="text" class="form-control" autocomplete="off" id="city" formControlName="city">
    @if (addressForm.get('city')?.invalid && addressForm.get('city')?.touched) {
      <div class="form-text errorMsg">
          {{ "cityIsRequired" | translate }}
      </div>
    }
  </div>

  <div class="mb-3 col-6">
    <label for="state" class="form-label openSansRegular">{{ "state" | translate }}</label>
    <input type="text" class="form-control" autocomplete="off" id="state" formControlName="state">
    @if (addressForm.get('state')?.invalid && addressForm.get('state')?.touched) {
      <div class="form-text errorMsg">
          {{ "stateIsRequired" | translate }}
    </div>
    }
  </div>

  <div class="mb-3 col-6">
    <label for="country" class="form-label openSansRegular">{{ "country" | translate }}</label>
    <input type="text" class="form-control" autocomplete="off" id="country" formControlName="country">
    @if (addressForm.get('country')?.invalid && addressForm.get('country')?.touched) {
      <div class="form-text errorMsg">
          {{ "countryIsRequired" | translate }}
      </div>
    }
  </div>

  <div class="mb-3 col-6">
    <label for="pinCode" class="form-label openSansRegular">{{ "pinCode" | translate }}</label>
    <input type="text" class="form-control" autocomplete="off" id="pinCode" formControlName="pinCode">
    @if (addressForm.get('pinCode')?.invalid && addressForm.get('pinCode')?.touched) {
      <div class="form-text errorMsg">
          {{ "pinCodeIsRequired" | translate }}
    </div>
    }
  </div>

  <div class="mb-3 col-12">
    <label for="isDefault" class="form-label openSansRegular me-2">{{ "isDefault" | translate }}</label>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="checkboxTrue" value="true" formControlName="isDefault">
      <label class="form-check-label" for="checkboxTrue">true</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="checkboxFalse" value="false" formControlName="isDefault">
      <label class="form-check-label" for="checkboxFalse">false</label>
    </div>
  </div>

  <button type="submit" class="btn btn-secondary openSansRegular w-auto m-auto">{{ "submit" | translate }}</button>
</form>
