<div class="container-fluid my-account">
  <img class="my-account-img" src="assets/img/account_circle.svg" alt="cart">
  <div class="personelInfo">
    <p class="form-label openSansSemiBold personelInfoLabel">Personal Information</p>
    @if(profile; as user)  {
      @if (user.firstName) {
        <p class="form-label openSansSemiBold">First name : <span class="openSansRegular">{{ user.firstName }}</span></p>
      }
      @if (user.lastName) {
        <p class="form-label openSansSemiBold">Last name : <span class="openSansRegular">{{ user.lastName }}</span></p>
      }
      @if (user.email) {
        <p class="form-label openSansSemiBold">Email : <span class="openSansRegular">{{ user.email }}</span></p>
      }
      <p class="form-label openSansSemiBold">Gender :
        @if (isGenderEditView) {
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="checkboxTrue" value="male" [(ngModel)]="user.gender" name="gender">
            <label class="form-check-label" for="checkboxTrue">male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="checkboxFalse" value="female" [(ngModel)]="user.gender" name="gender">
            <label class="form-check-label" for="checkboxFalse">female</label>
          </div>
        } @else {
          <span class="openSansRegular">{{ user.gender }}</span>
          <img class="edit-address-img" src="assets/img/edit.svg" alt="edit" title="Edit Address"  (click)="showUpdateView('gender')">
        }
      </p>
      <p class="form-label openSansSemiBold">Mobile No. :
        @if (isMobileEditView) {
          <input type="text" [(ngModel)]="user.mobileNumber" name="mobileNumber">
        } @else {
          <span class="openSansRegular" >{{ user.mobileNumber }}</span>
          <img class="edit-address-img" src="assets/img/edit.svg" alt="edit" title="Edit Address"  (click)="showUpdateView('mobile')">
        }
      </p>
      <button class="btn btn-primary" (click)="updateUserData(user)">Update</button>
  }
  </div>
  <div class="address-class">
    <p class="form-label openSansSemiBold addressLabel">Manage Addresses</p>
    @if (!((this.profile?.addresses?.length ?? 0) >= 3)) {
        <span class="addAddressLabel">Add address <img class="add-address-img m-auto" src="assets/img/add.svg" alt="add" title="Add Address" (click)="addOrUpdateAddress(false, null)"></span>
    }
    @if (profile?.addresses?.length) {
      @for (item of profile?.addresses; track $index) {
        <!-- <label for="Address" class="form-label openSansSemiBold AddressLabel">Address</label> -->
        <div class="addressDiv">
          <label for="Delivery address" class="form-label address-label openSansSemiBold">
            <span class="openSansRegular">{{ item.addressLine1 || item.addressLine2 }}</span>,
            <span class="openSansRegular">{{ item.city }}</span>,
            <span class="openSansRegular">{{ item.state }}</span> - <span class="openSansSemiBold">{{ item.pinCode }}</span>,
            <span class="openSansRegular">{{ item.country }}</span>
            <img class="edit-address-img" src="assets/img/delete.svg" alt="delete" title="Delete Address"  (click)="deleteAddress(item)">
            <img class="edit-address-img" src="assets/img/edit.svg" alt="edit" title="Edit Address"  (click)="addOrUpdateAddress(true, item)">
          </label>

          <!-- <label for="Delivery address" class="form-label openSansSemiBold">Delivery address : <span class="openSansRegular">{{ item.addressLine1 || item.addressLine2 }}</span></label>
          <label for="District" class="form-label openSansSemiBold">District : <span class="openSansRegular">{{ item.city }}</span></label>
          <label for="State" class="form-label openSansSemiBold">State : <span class="openSansRegular">{{ item.state }}</span></label>
          <label for="Country" class="form-label openSansSemiBold">Country : <span class="openSansRegular">{{ item.country }}</span></label>
          <label for="Pin" class="form-label openSansSemiBold">Pin : <span class="openSansRegular">{{ item.pinCode }}</span></label> -->
        </div>
      }
    }
  </div>
</div>
