.personelInfo {
  padding: 2rem;
  border: 1px solid #ccc;
}

.personelInfoLabel {
  font-size: 1.5rem;
}

.my-account {
  display: flex;
  padding: 2rem;
  justify-content: start;
  gap: 1rem;
}

.my-account-img {
  width: 10rem;
  align-self: start;
  margin-top: 2rem;
}

.address-class {
  display: grid;
  padding: 2rem;
  border: 1px solid #ccc;
}

.addressDiv {
  display: grid;
  /* margin-bottom: 1.5rem; */
  border: 1px solid #ccc;
}

.AddressLabel {
  font-size: 1.5rem;
}

.add-address-img {
  margin-top: 0.5rem;
  cursor: pointer;
  padding: 0rem 1rem 0rem 0rem;
}

.edit-address-img {
  cursor: pointer;
  float: right;
  padding: 0rem 0rem 0rem 1rem;
}

.addAddressLabel {
  margin-bottom: 0.5rem;
}

.address-label {
  padding: 1rem;
  margin-top: 6px;
}
