<div class="container-fluid my-account">
  <img class="my-account-img" src="assets/img/account_circle.svg" alt="cart">
  <div class="personelInfo">
    <p class="form-label openSansSemiBold personelInfoLabel">Personal Information</p>
    @if(this.profile; as user)  {
      @if (user.firstName) {
        <p class="form-label openSansSemiBold">First name : <span class="openSansRegular">{{ user.firstName }}</span></p>
      }
      @if (user.lastName) {
        <p class="form-label openSansSemiBold">Last name : <span class="openSansRegular">{{ user.lastName }}</span></p>
      }
      @if (user.email) {
        <p class="form-label openSansSemiBold">Email : <span class="openSansRegular">{{ user.email }}</span></p>
      }
      @if (user.gender) {
        <p class="form-label openSansSemiBold">Gender : <span class="openSansRegular">{{ user.gender }}</span></p>
      }
      @if (user.mobileNumber) {
        <p class="form-label openSansSemiBold">Mobile Number : <span class="openSansRegular">{{ user.mobileNumber }}</span></p>
      }
  }
  </div>
  <div class="address-class">
    @if (this.profile?.addresses?.length !<= 3) {
        <span>Add address <img class="edit-address-img" src="assets/img/add.svg" alt="cart" (click)="addOrUpdateAddress()"></span>
    }
    @if (this.profile?.addresses?.length) {
      @for (item of this.profile?.addresses; track $index) {
        <label for="Address" class="form-label openSansSemiBold AddressLabel">Address</label>
        <label for="Delivery address" class="form-label openSansSemiBold">Delivery address : <span class="openSansRegular">{{ item.addressLine1 || item.addressLine2 }}</span></label>
        <label for="District" class="form-label openSansSemiBold">District : <span class="openSansRegular">{{ item.city }}</span></label>
        <label for="State" class="form-label openSansSemiBold">State : <span class="openSansRegular">{{ item.state }}</span></label>
        <label for="Country" class="form-label openSansSemiBold">Country : <span class="openSansRegular">{{ item.country }}</span></label>
        <label for="Pin" class="form-label openSansSemiBold">Pin : <span class="openSansRegular">{{ item.pinCode }}</span></label>
      <img class="edit-address-img" src="assets/img/edit.svg" alt="cart">
      }
    }
  </div>
</div>
