.custom-dialog-container {
  width: 30rem !important;
  height: 20rem !important;
}

.closeBtn {
    display: flex;
    justify-self: flex-end;
    color: black !important;
    outline: none;
    box-shadow: none;
}

.closeBtn:hover {
    color: white !important;
}

.userDetails {
    padding: 1rem 1rem;
    width: auto
}
