<div *ngIf="data?.isBookingDetails" class="container mt-4 userDetails">
  <h2 class="text-center mb-4">booking Details</h2>
  <div class="row">
    <div class="col-md-6">
      <label for="firstName" class="form-label fw-bold">First Name : &nbsp;</label>
      <span>{{ data.bookingData.firstName }}</span>
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label fw-bold">Last Name : &nbsp;</label>
      <span>{{ data.bookingData.lastName }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="age" class="form-label fw-bold">Country : &nbsp;</label>
      <span>{{ data.bookingData.country }}</span>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <label for="phone_no" class="form-label fw-bold">Phone no : &nbsp;</label>
      <span>{{ data.bookingData.phone }}</span>
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label fw-bold">Email : &nbsp;</label>
      <span>{{ data.bookingData.email }}</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <label for="address" class="form-label fw-bold">Service Name : &nbsp;</label>
      <span>{{ data.bookingData.bookingDetails.serviceName }}</span>
    </div>
    <div class="col-md-6">
      <label for="country" class="form-label fw-bold">booking Date : &nbsp;</label>
      <span>{{ data.bookingData.bookingDetails.bookingDateTime | date : "MMM d, y, h:mm a" }}</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <label for="hobbies" class="form-label fw-bold">Time : &nbsp;</label>
      <span>{{ data.bookingData.bookingDetails.time }} &nbsp;</span>
    </div>
    <div class="col-md-6">
      <label for="hobbies" class="form-label fw-bold">Price : &nbsp;</label>
      <span>{{ data.bookingData.bookingDetails.price }} &nbsp;</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <label for="hobbies" class="form-label fw-bold">Message : &nbsp;</label>
      <span>{{ data.bookingData.message }} &nbsp;</span>
    </div>
    <div class="col-md-6">
      <label for="hobbies" class="form-label fw-bold">Address : &nbsp;</label>
      <span>{{ data.bookingData.bookingDetails.address }} &nbsp;</span>
    </div>
  </div>
  <button class="btn btn-outline-secondary rounded-1 closeBtn border border-secondary mt-4" type="button" mat-button mat-dialog-close  (click)="closeDialog()">Close</button>
</div>

<div class="container userDetails">
  <span *ngIf="data.isDelete">{{ "confirmDelete" | translate }} {{ data.selectdItem.id }}?</span>
  <span *ngIf="data.isEdit">{{ "confirmEdit" | translate }} {{ data.selectdItem.id }}?</span>
  <span *ngIf="data.isLogoutDialog">{{ "confirmLogout" | translate }}</span>
  <span *ngIf="data.isCancelEdit">{{ "cancelEdit" | translate }}</span>
  <div class="d-flex justify-content-evenly">
    <button class="d-inline btn btn-outline-secondary rounded-1 closeBtn border border-secondary mt-4" type="button" mat-button mat-dialog-close>Cancel</button>
    <button class="d-inline btn btn-outline-secondary rounded-1 closeBtn border border-secondary mt-4" type="button" mat-button mat-dialog-close  (click)="closeDialog()">Ok</button>
  </div>
</div>
