<div class="container userDetails">
  @if (data.isDelete) {
    <span>{{ "confirmDelete" | translate }} {{ data.id }}?</span>
  }
  @if (data.isEdit) {
    <span>{{ "confirmEdit" | translate }} {{ data.id }}?</span>
  }
  <div class="d-flex justify-content-evenly">
    <button class="d-inline btn btn-outline-secondary rounded-1 closeBtn border border-secondary mt-4" type="button" mat-button mat-dialog-close>Cancel</button>
    <button class="d-inline btn btn-outline-secondary rounded-1 closeBtn border border-secondary mt-4" type="button" mat-button mat-dialog-close  (click)="closeDialog()">Ok</button>
  </div>
</div>
