.productDiv {
    margin-bottom: 5rem;
    /* margin-top: 6rem; */
    padding-left: 4rem;
    padding-right: 4rem;
}

.message {
    height: 10rem;
}

.errorMsg {
    color: red;
    font-size: 0.8rem;
}

.productForm input {
    outline: none;
    box-shadow: none;
}

.productForm input[type=text]:focus {
    border: 1px solid gray;
}

.productForm textarea {
    outline: none;
    box-shadow: none;
}

.productForm textarea[type=text]:focus {
    border: 1px solid gray;
}

.product-btn-col {
  display: grid;
  grid-auto-flow: column;
  align-content: space-around;
  justify-content: space-evenly;
  gap: 1rem;
}

.product-image {
  width: 7rem;
  display: block;
  margin: auto;
}

.product-desc {
  display: grid;
  align-content: center;
  gap: 2rem;
}

.product-btn-icons {
  width: 3rem;
  cursor: pointer;
}

.product-row {
  width: 100%;
}

.product-list-title {
  padding: 2rem 4rem;
}
