<div class="productDiv">
  <mat-tab-group class="custom-tabs">
      <mat-tab label="Dashboard" class="tabDiv" style="color: red;">
      <h2 class="product-list-title openSansMedium">{{ "productList" | translate }}</h2><hr>
      @for (product of productList; track product.id) {
        <div class="row w-100 product-row">
          <div class="col-2 m-auto"><img mat-card-image [src]="product.imageUrl" alt="{{ product.name }}" class="product-image"></div>
          <div class="col-8 product-desc">
            <h4 class="openSansSemiBold">{{ product.name }}</h4>
            <h5 class="openSansRegular">{{ product.description }}</h5>
            <p>{{ product.price | currency: 'INR' }}</p>
          </div>
          <div class="col-2 product-btn-col">
            <img mat-card-image src="assets/img/edit.svg" (click)="upateProduct(product)" class="product-btn-icons">
            <img mat-card-image src="assets/img/delete.svg" (click)="deleteProductRow(product)" class="product-btn-icons">
          </div>
        </div>
        <hr>
      }
      </mat-tab>
      <mat-tab label="Add Products">
        <app-add-product (productAdded)="onProductAdded($event)"></app-add-product>
      </mat-tab>
  </mat-tab-group>
</div>
