.productDiv {
    margin-bottom: 5rem;
    /* margin-top: 6rem; */
    padding-left: 4rem;
    padding-right: 4rem;
}

.message {
    height: 10rem;
}

.errorMsg {
    color: red;
    font-size: 0.8rem;
}

.productForm input {
    outline: none;
    box-shadow: none;
}

.productForm input[type=text]:focus {
    border: 1px solid gray;
}

.productForm textarea {
    outline: none;
    box-shadow: none;
}

.productForm textarea[type=text]:focus {
    border: 1px solid gray;
}
